/*
==================
Swiper
==================
*/
.swiper-slide {
  width: max-content;
}

.swiper-slide div {
  @apply w-[320px] h-[400px] overflow-hidden;
  @apply max-md:w-[280px] max-md:h-[350px] max-sm:w-[240px] max-sm:h-[300px];
}

.swiper-slide img {
  @apply w-full h-full object-cover object-center rounded-lg;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 0.5rem;
}

/*
==================
Home.jsx
==================
*/
.p-heroSec_intro_head_container {
  @apply flex flex-col gap-2 py-11;
}

.p-heroSec_intro_head_container h1 {
  @apply text-5xl font-extrabold;
  @apply max-md:text-3xl;
}

.p-heroSec_intro_head_container p {
  @apply text-2xl;
  @apply max-md:text-lg;
}

.p-swiper_container {
  margin: auto;
}

.p-heroSec_intro_body_container {
  @apply flex items-center justify-center gap-5;
  @apply max-md:flex-col;
}

.p-heroSec_intro_body_text_container {
  @apply flex flex-col gap-4 max-w-[600px];
}

.p-heroSec_intro_body_text_container h1 {
  @apply text-3xl font-extrabold;
}

.p-heroSec_intro_body_text_container p {
  color: var(--softTextColor);
}

.p-tagSec {
  @apply mt-11;
}

.p-tagSec h1 {
  @apply font-bold text-2xl;
}

.p-tagSec_tags_container {
  @apply flex flex-wrap gap-2 justify-between mt-4;
}

.p-post-sidebarSec {
  @apply mt-11;
}

.p-post-sidebarSec_container {
  @apply flex gap-10;
}

.p-post_main_title {
  @apply font-bold text-2xl;
}

.p-post-main_postcards_container {
  @apply flex flex-col gap-8 mt-4;
}
