/*
==================
page global
==================
*/
.p-row_flex_between {
  @apply flex justify-between;
}

/*
==================
Swiper
==================
*/
.swiper-slide {
  width: max-content;
}

.swiper-slide div {
  @apply w-[320px] h-[400px] overflow-hidden;
  @apply max-md:w-[280px] max-md:h-[350px] max-sm:w-[240px] max-sm:h-[300px];
}

.swiper-slide img {
  @apply w-full h-full object-cover object-center rounded-lg;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 0.5rem;
}

/*
==================
Home.jsx
==================
*/
.p-heroSec_intro_head_container {
  @apply flex flex-col gap-2 py-11;
}

.p-heroSec_intro_head_container h1 {
  @apply text-5xl font-extrabold;
  @apply max-md:text-3xl;
}

.p-heroSec_intro_head_container p {
  @apply text-2xl;
  @apply max-md:text-lg;
}

.p-swiper_container {
  margin: auto;
}

.p-heroSec_intro_body_container {
  @apply flex items-center justify-center gap-5;
  @apply max-md:flex-col;
}

.p-heroSec_intro_body_text_container {
  @apply flex flex-col gap-4 max-w-[600px];
}

.p-heroSec_intro_body_text_container h1 {
  @apply text-3xl font-extrabold;
}

.p-heroSec_intro_body_text_container p {
  color: var(--softTextColor);
}

.p-tagSec {
  @apply mt-11;
}

.p-tagSec h1 {
  @apply font-bold text-2xl;
}

.p-tagSec_tags_container {
  @apply flex flex-wrap gap-2 justify-between mt-4;
}

.p-post-sidebarSec {
  @apply mt-11;
}

.p-post-sidebarSec_container {
  @apply flex gap-10;
}

.p-post_main_title {
  @apply font-bold text-2xl;
}

.p-post-main_postcards_container {
  @apply flex flex-col gap-8 mt-4;
}

/*
==================
Search.jsx
==================
*/
.p-post_searchResult_title_container {
  @apply flex items-center gap-6;
}

.p-search_section_container {
  @apply border-b-2 border-red-400;
}

.p-search_section_container h1 {
  @apply text-2xl font-bold;
}

.p-search_section_system_form {
  @apply flex flex-col gap-5 p-4;
}

.p-search_section_system_form label {
  @apply text-xl font-bold;
}

.p-search_form_Term {
  @apply flex items-center gap-3;
}

.p-search_form_Term input {
  @apply border-2 border-gray-500 rounded-md p-1 text-black;
}

.p-search_form_tag {
  @apply flex flex-col gap-3;
}

.p-tag_span_container {
  @apply flex flex-row flex-wrap gap-2;
}

.p-span_item {
  @apply text-gray-800 font-bold rounded-full p-2;
  @apply transition-all duration-150 cursor-pointer;
}

.p-search_form_sort {
  @apply flex items-center gap-3;
}

.p-search_form_sort select {
  @apply border-2 border-gray-500 rounded-md p-1;
}

.p-search_form_sort select {
  @apply text-black;
}

.p-search_button {
  @apply text-xl border-2 py-1 border-orange-400 w-[60%] m-auto;
  @apply transition-all duration-100;
  @apply hover:bg-orange-400 hover:text-gray-800;
}

.p-selected_tag_container span {
  @apply text-lg pr-3;
}

.p-load_more_button {
  @apply text-5xl m-auto cursor-pointer transition-all duration-150;
  @apply hover:scale-110;
}

/*
==================
Post.jsx
==================
*/
.p-post_page_heroSection_container {
  @apply flex items-center gap-3 pt-11;
  @apply max-md:flex-col;
}

.p-post_title_container {
  @apply flex flex-col flex-1 justify-center gap-10;
  @apply max-lg:gap-3;
}

.p-post_title_container h1 {
  @apply text-5xl font-bold;
  @apply max-lg:text-4xl max-lg:text-3xl max-md:text-2xl;
}

.p-author_container {
  @apply flex items-center gap-6;
}

.p-author_container img {
  @apply w-20 rounded-full;
  @apply max-lg:w-14;
}

.p-author_text p {
  @apply text-xl;
  @apply max-lg:text-lg;
}

.p-author_text span {
  color: var(--softTextColor);
}

.p-post_title_function-list {
  @apply flex gap-6 items-center py-4;
}

.p-function_clap_container {
  color: var(--softTextColor);
  @apply flex gap-1 cursor-pointer;
}

.p-function_comments_container {
  color: var(--softTextColor);
  @apply flex gap-1 cursor-pointer;
}

.p-post_img_container {
  @apply flex-1;
}

.p-post_comments_section {
  @apply fixed w-[100vw] h-[100vh] z-50 top-0 left-0;
  @apply opacity-0 pointer-events-none transition-all duration-150;
  @apply max-sm:w-full;
}

.p-post_comments_container {
  background-color: var(--bg);
  @apply flex flex-col gap-5;
  @apply fixed right-0 w-[26rem] h-full p-6;
  @apply overflow-auto shadow-xl shadow-gray-500;
  @apply max-sm:w-full max-sm:h-[90%] max-sm:bottom-0 max-sm:border;
}

.p-post_comments_container::-webkit-scrollbar {
  display: none;
}

.p-textarea_container textarea {
  @apply w-full p-1 rounded-md text-black;
}

.p-comments_section-effect {
  @apply opacity-100 pointer-events-auto;
}

.p-article_container {
  @apply flex-1;
}

.p-article_container article {
  @apply text-lg;
}

/*
==================
Login.jsx
==================
*/
.p-login-page_wrapper {
  @apply h-[90vh] flex justify-center items-center;
}

.p-login_button_wrapper {
  @apply max-w-96 max-h-[22rem] w-full h-full flex flex-col justify-center gap-6 p-12 rounded-sm bg-gray-800;
}

.login_button {
  @apply flex justify-center items-center gap-1 text-center h-12 rounded-full cursor-pointer;
}

.login_button img {
  @apply w-8;
}
